<table cTable>
  <thead cTableColor="dark">
  <tr>
    <th scope="col">id</th>
    <th scope="col">Logo</th>
    <th scope="col">tipo</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>
      <img src="../../../../assets//1016043.png" alt="image">
    </td>
    <td>recauchutagem</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>
      <img src="../../../../assets//1016043.png" alt="image">
    </td>
    <td>recauchutagem</td>
  </tr>

  <tr>
    <th scope="row">1</th>
    <td>
      <img src="../../../../assets//1016043.png" alt="image">
    </td>
    <td>recauchutagem</td>
  </tr>
  </tbody>
</table>
