<form cForm>
  <div class="mb-3">
    <label cLabel for="nameUser">Nome do Usuário</label>
    <input cFormControl
           id="nameUser"
           placeholder="Nome do usário"
           type="text"
    />
  </div>

  <div class="mb-3">
    <label cLabel for="emailAdress">Endereço de Email</label>
    <input cFormControl
           id="emailAdress"
           placeholder="name@example.com"
           type="email"
    />
  </div>

  <div class="mb-3">
    <label cLabel for="phoneNumber">Número de Telefone</label>
    <input cFormControl
           id="phoneNumber"
           placeholder="Ex: 938 390 399"
           type="number"
    />
  </div>

  <div class="mb-3">
    <label cLabel for="password">Palavra passe</label>
    <input cFormControl
           id="password"
           placeholder="Palavra passe"
           type="password"
    />
  </div>

  <input cButton color="primary" type="submit" value="Adicionar"/>
</form>
