<form cForm>
  <div class="mb-3">
    <label cLabel for="nameState">Nome do Município</label>
    <input cFormControl
           id="nameState"
           placeholder="Nome do Município"
           type="text"
    />
  </div>
  <div class="mb-3">
    <select aria-label="Default select example" cSelect>
      <option>Seleciona a Provícia</option>
      <option value="1">Luanda</option>
      <option value="2">Benguela</option>
      <option value="3">Huambo</option>
    </select>
  </div>

  <input cButton color="primary" type="submit" value="Adicionar"/>
</form>
