<form cForm #countie="ngForm" (ngSubmit)="submitForm(countie.value)">
  <div class="mb-3">
    <label cLabel for="nameState">Nome do Município</label>
    <input cFormControl
           id="nameState"
           placeholder="Nome do Município"
           type="text"
           name="nome"
           ngModel
    />
  </div>
  <div class="mb-3">
    <select aria-label="Default select example" cSelect name="provincia_id" ngModel>
      <option>Seleciona a Provícia</option>
      <option *ngFor="let province of data" [value]="province.id">{{province.nome}}</option>
    </select>
  </div>

  <input cButton color="primary" type="submit" value="Adicionar"/>
</form>
